# /etc/cron.d/zpool-scrub
# ---
#  {{ ansible_managed }}
# ---

PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin/:/bin
MAILTO={{ admin_email }}

# m h  dom mon dow  user  command

{{ zfs_scrub_minute }} {{ zfs_scrub_hour }}  * * {{ zfs_scrub_dayofweek }}  root  /usr/local/sbin/zpool-scrub.sh
